<h1>Manage Users/Collaborators</h1>
<div class="row">
  <div class="col-md-8">
    <% @users.each do |user| %>
      <% if user == current_user %>
      <!-- do not show ability to add self as collaborator -->
      <% else %>
      <% wiki = Wiki.find(params[:id]) %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading col-md-4 pull-left">
              <%= user.email %>
            </h4>
            <!-- if user is a collaborator, present remove option -->
            <% if Collaborator.where(user_id: user.id, wiki_id: wiki.id).first %>
                  <%= link_to wiki_collaborator_path(wiki_id: params[:id], user_id: user.id), class: 'btn btn-danger col-md-4', method: :delete do %>
                    Remove Collaborator
                  <% end %>
            <% else %>
              <%= link_to wiki_collaborators_path(wiki_id: params[:id], user_id: user.id), class: 'btn btn-primary', method: :post do %>
                Add Collaborator
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



