<h1>Welcome to the Wiki Project</h1>
<p>Here, you will be able to log in, create a new wiki and then discuss a project/topic.</p>

<div class="row">
  <div class="col-md-4">
    <% if user_signed_in? %>
      <div class="media">
        <div class="media-body">
          <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success pull-left' %>
          <%= link_to 'View Wikis', wikis_path, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

